*{
    margin: 0;
    padding: 0;
    border: none;
}
a{
    text-decoration: none;
}
body{
    font-family:  'Lato', sans-serif;
}
.container{
    width: 90%;
    margin: 0 auto;
}

#header{
    padding: 20px 0;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo a{
    font-weight: 500;
    font-size: 20px;
    color: #292929;
    padding: 0 20px 0 0;
}
.header h1{
    font-weight: 900;
    font-size: 20px;
    color: #01996D;
}
.header-ride a{
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    padding: 0 10px 0 0;
}
.header-ride button{
    padding: 8px 20px;
    background: #01996D;
    border: 1px solid #01996D;
    border-radius: 4px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
}

#hero{
    background: url("../img/hero.png")no-repeat center/cover;
    min-height: 90vh;
}
.hero{
    position: absolute;
    top: 180px;
    left: 180px;
}
.hero h1{
    font-weight: 700;
    font-size: 50px;
    line-height: 74px;
    color: #01996D;
}
.hero p{
    padding: 15px 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 31px;
    color: #484848;
}
.hero button{
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: #FFFFFF;
    background: #01996D;
    border: 1px solid #01996D;
    border-radius: 4px;
    padding: 10px 25px;
}

#card{
    padding: 30px 0;
}
.cards{
    font-weight: 600;
    font-size: 20px;
    color: #424242;
}
.card{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card h1{
    font-weight: 700;
    font-size: 30px;
    line-height: 157%;
    color: #01996D;
}
.card p{
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
    color: #424242;
}

#story{
    padding: 80px 0;
    background: #245852;
}
.story{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.story h1{
    font-weight: 700;
    font-size: 30px;
    line-height: 157%;
    color: #FFFFFF;
}
.story h3{
    padding: 20px 0;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}
.story button{
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    background: #01996D;
    border-radius: 4px;
    padding: 15px 20px;
}
.story-nav img{
    width: 500px;
    height: 300px;
}
.story-nav ion-icon{
    position: absolute;
    top: 130px;
    right: 268px;
    color: #ffffff;
    font-size: 50px;
}

#product{
    padding: 140px 0;
}
.product-tit{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.product-nav h3{
    padding: 5px 0;
    font-weight: 600;
    font-size: 20px;
    color: #424242;
}
.product-nav h1{
    font-weight: 700;
    font-size: 30px;
    line-height: 157%;
    color: #01996D;
}
.product-nav p{
    padding: 5px 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 31px;
    color: #484848;
}
.product-nav button{
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    padding: 8px 20px;
    background: #01996D;
    border: 1px solid #01996D;
    border-radius: 4px;
}
.product-tit img{
    width: 381px;
    height: 346px;
}
.product{
    position: relative;
}

#footer{
    background: #245852;
    padding: 20px;
}
.footer{
    margin-left: 200px;
}
.footer h1{
    font-weight: 900;
    font-size: 30px;
    color: #FFFFFF;
}
.footer h2{
    font-weight: 600;
    font-size: 15px;
    line-height: 30px;
    color: #FFFFFF;
    padding: 10px 0;
}

.block{
    position: absolute;
    top: 172px;
    margin: 20px;
    padding: 10px 0;
    background: #f3f1f1;
    width: 210px;
    height: 200px;
}
.block h1{
    font-weight: 600;
    font-size: 14.49px;
    text-align: center;
    color: #000000;
    padding: 10px 0;
}
.blocks{
    margin-left: 70px;
    width: 50px;
    height: 1px;
    background: black;
}
.block img{
    margin: 10px 0 0 60px;
}
.block h2{
    margin-left: 15px;
    font-weight: 700;
    font-size: 15.9292px;
    color: #000000;
}
.block h3{
    padding-left: 15px;
    font-weight: 400;
    font-size: 10.6195px;
    line-height: 157%;
    text-align: start;
    color: #000000;
}












